# Data Science Books Dataset Cleaning  
### [Amazon Data Science Books Dataset from Kaggle](https://www.kaggle.com/datasets/die9origephit/amazon-data-science-books)  
### Work done by: [@chusk2](https://twitter.com/chusk2)  
### Github repository: [data_cleaning](https://github.com/chusk2/data_cleaning)

## Import python libraries

In [1]:
import pandas as pd
import numpy as np

## Import raw data

In [2]:
data = pd.read_csv('data_science_books.csv')

## First overlook

In [3]:
data.head()

,title,author,price,price (including used books),pages,avg_reviews,n_reviews,star5,star4,star3,star2,star1,dimensions,weight,language,publisher,ISBN_13,link,complete_link
0,Data Analysis Using R (Low Priced Edition): A ...,[ Dr Dhaval Maheta],6.75,6.75,500,4.4,23,55%,39%,6%,NaN,NaN,8.5 x 1.01 x 11 inches,2.53 pounds,English,"Notion Press Media Pvt Ltd (November 22, 2021)",978-1685549596,/Data-Analysis-Using-Low-Priced/dp/1685549594/...,https://www.amazon.com/Data-Analysis-Using-Low...
1,Head First Data Analysis: A learner's guide to...,NaN,33.72,21.49 - 33.72,484,4.3,124,61%,20%,9%,4%,6%,8 x 0.98 x 9.25 inches,1.96 pounds,English,"O'Reilly Media; 1st edition (August 18, 2009)",978-0596153939,/Head-First-Data-Analysis-statistics/dp/059615...,https://www.amazon.com/Head-First-Data-Analysi...
2,Guerrilla Data Analysis Using Microsoft Excel:...,"[ Oz du Soleil, and , Bill Jelen]",32.07,32.07,274,4.7,10,87%,13%,NaN,NaN,NaN,8.25 x 0.6 x 10.75 inches,1.4 pounds,English,"Holy Macro! Books; Third edition (August 1, 2022)",978-1615470747,/Guerrilla-Analysis-Using-Microsoft-Excel/dp/1...,https://www.amazon.com/Guerrilla-Analysis-Usin...
3,Python for Data Analysis: Data Wrangling with ...,[ William McKinney],53.99,53.99,547,4.6,"1,686",75%,16%,5%,2%,2%,7 x 1.11 x 9.19 inches,1.47 pounds,English,"O'Reilly Media; 2nd edition (November 14, 2017)",978-1491957660,/Python-Data-Analysis-Wrangling-IPython/dp/149...,https://www.amazon.com/Python-Data-Analysis-Wr...
4,Excel Data Analysis For Dummies (For Dummies (...,[ Paul McFedries],24.49,24.49,368,3.9,12,52%,17%,10%,10%,10%,7.38 x 0.83 x 9.25 inches,1.3 pounds,English,"For Dummies; 5th edition (February 3, 2022)",978-1119844426,/Excel-Data-Analysis-Dummies-Computer/dp/11198...,https://www.amazon.com/Excel-Data-Analysis-Dum...

In [4]:
data.columns

Index(['title', 'author', 'price', 'price (including used books)', 'pages',
       'avg_reviews', 'n_reviews', 'star5', 'star4', 'star3', 'star2', 'star1',
       'dimensions', 'weight', 'language', 'publisher', 'ISBN_13', 'link',
       'complete_link'],
      dtype='object')

# Dataset cleaning process

## Subset of the raw data

In [5]:
df = data['title, author, price, pages, language, publisher, ISBN_13, complete_link'.split(', ')]

In [6]:
df.columns

Index(['title', 'author', 'price', 'pages', 'language', 'publisher', 'ISBN_13',
       'complete_link'],
      dtype='object')

## Clean `author`

In [7]:
df.author.isna().count()

830

In [8]:
def clean_author(value):
	if value == value:
		return value.lstrip('[ ').rstrip(']').replace(',  and ,', ' and')
	else:
		return value

In [9]:
df.author = df.author.apply(clean_author)

/tmp/ipykernel_2990/4174911401.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.author = df.author.apply(clean_author)

In [10]:
df.sample(10)

,title,author,price,pages,language,publisher,ISBN_13,complete_link
514,Bayesian Analysis with Python: Introduction to...,Osvaldo Martin,46.99,356,English,"Packt Publishing (December 26, 2018)",978-1789341652,https://www.amazon.com/gp/slredirect/picassoRe...
396,Introduction to Synthetic Aperture Radar Using...,Lee Andrew (Andy) Harrison,151.59,390,English,"Artech House (August 31, 2022)",,https://www.amazon.com/Introduction-Synthetic-...
141,Learn Selenium: Build data-driven test framewo...,Unmesh Gundecha and Carl Cocchiaro,49.99,536,English,"Packt Publishing (July 18, 2019)",978-1838983048,https://www.amazon.com/Learn-Selenium-data-dri...
733,The Tableau Workshop: A practical guide to the...,"Sumit Gupta, Sylvester Pinto, et al.",46.99,822,English,"Packt Publishing (April 28, 2022)",978-1800207653,https://www.amazon.com/gp/slredirect/picassoRe...
110,Python Data Analysis - Second Edition,Armando Fandango,51.99,330,English,Packt Publishing; 2nd Revised edition (March 2...,978-1787127487,https://www.amazon.com/Python-Data-Analysis-Ar...
260,The Data Lakehouse Architecture,Bill Inmon and Ranjeet Srivastava,49.95,162,English,"Technics Publications (November 7, 2022)",978-1634622783,https://www.amazon.com/Data-Lakehouse-Architec...
12,Python for Beginners: 2 Books in 1: The Perfec...,"Programming Languages Academy, Matthew Kinsey,...",NaN,NaN,NaN,NaN,NaN,https://www.amazon.com/Python-Beginners-Perfec...
177,Data Analysis in High Energy Physics: A Practi...,"Olaf Behnke, Kevin Kröninger, et al.",89.00,658,English,"Wiley-VCH; 1st edition (August 30, 2013)",NaN,https://www.amazon.com/Data-Analysis-High-Ener...
94,Introduction to Machine Learning with R: Rigor...,Scott V. Burger,40.49,226,English,"O'Reilly Media; 1st edition (April 17, 2018)",978-1491976449,https://www.amazon.com/Introduction-Machine-Le...
62,Data Structures and Algorithm Analysis in Java...,Mark Allen Weiss,69.00,640,English,Pearson Education; International ed of 3rd rev...,,https://www.amazon.com/Structures-Algorithm-An...

## Clean `pages`

There's an error when trying to convert prices to float:  
`ValueError: could not convert string to float: 'Explores all feature...`  
Some values content comments, so I need to clean the price columns first.

In [11]:
#df.pages.astype(float)

I will figure out what's the maximum lenght of the figures in pages column. I will try to convert to float those values of a maximum length. If it raises an error, it means there are values that are strings. In that case, I try using a shorter length for figures.

Length 5 raises an error, but maximum length of pages figure of 4 doesn't.

In [12]:
#df.pages[df.pages.str.len() <=5].astype(float)

In [13]:
df.pages[df.pages.str.len() <=4].astype(float)

0      500.0
1      484.0
2      274.0
3      547.0
4      368.0
       ...
822    165.0
824    280.0
825    208.0
826    573.0
827    288.0
Name: pages, Length: 736, dtype: float64

Now I know that values longer than 4 are comments. Shorter values correspond to pages number, so there won't be a comment (use NaN). With this information I create a column with comments.

In [14]:
df['comments'] = np.where(df.pages.str.len() >= 5, df.pages, np.nan)

/tmp/ipykernel_2990/3878540880.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['comments'] = np.where(df.pages.str.len() >= 5, df.pages, np.nan)

Now let's finally clean the pages column.

In [15]:
df.pages = np.where(df.pages.str.len() <= 4, df.pages, np.nan).astype(float)

/tmp/ipykernel_2990/108972310.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.pages = np.where(df.pages.str.len() <= 4, df.pages, np.nan).astype(float)

In [16]:
df.sample(5)

,title,author,price,pages,language,publisher,ISBN_13,complete_link,comments
655,The Self-Taught Computer Scientist: The Beginn...,Cory Althoff,19.49,224.0,English,"Wiley; 1st edition (October 1, 2021)",978-1119724414,https://www.amazon.com/Self-Taught-Computer-Sc...,NaN
287,Qualitative Data Analysis: Practical Strategies,Pat Bazeley,54.08,584.0,English,SAGE Publications Ltd; Second edition (Decembe...,978-1526404763,https://www.amazon.com/Qualitative-Data-Analys...,NaN
584,The Recursive Book of Recursion: Ace the Codin...,Al Sweigart,35.99,328.0,English,"No Starch Press (August 16, 2022)",978-1718502024,https://www.amazon.com/Recursive-Book-Recursio...,NaN
102,Pharmacokinetic and Pharmacodynamic Data Analy...,Johan Gabrielsson and Daniel Weiner,233.60,1040.0,English,Swedish Pharmaceutical Press; 5th edition (Jan...,978-9198299106,https://www.amazon.com/Pharmacokinetic-Pharmac...,NaN
64,Machine Learning Explained The Simple Way: A B...,Santos Ozoemena,11.97,216.0,English,"Independently published (October 31, 2022)",979-8803622086,https://www.amazon.com/Machine-Learning-Explai...,NaN

## Clean `language`

In [17]:
df.language.unique()

array(['English', nan, 'Spanish',
       'Unqualified, Japanese (Dolby Digital 2.0 Mono), English (Dolby Digital 5.1), English (Dolby Digital 2.0 Mono)',
       'you will discover all you need ',
       '• How to make better business decisions using ',
       'Concepts are presented in a "to-the-point" style to cater to the busy individual. With this book, you can learn Python in just one day and start coding immediately. ',
       'standard library',
       'This Python programming guide assumes certain level of programming knowledge. It is not a beginner textbook.',
       'Scroll to the top of the page and click the ',
       'English (Dolby Digital 2.0 Mono)',
       'English (DTS-HD Master Audio 5.1), French (DTS-HD 2.0)',
       '"Brilliant."'], dtype=object)

Some values have `English` or `Spanish` as language values. Some others have languages with other comments. Other values are just comments. This needs a more deep cleaning than previous columns.

`language` values that don't have English, Spanish, Japanese or French, will be considered as comments.

Multiple conditions to check:

In [18]:
contains_english = df.language.str.contains('English')
contains_spanish = df.language.str.contains('Spanish')
contains_japanese = df.language.str.contains('Japanese')
contains_french = df.language.str.contains('French')

Extract all the values that don't contain information about language.

In [19]:
not_language_info = ~(contains_english | contains_spanish | contains_japanese | contains_french | df.language.isnull() )

In [20]:
df.language[not_language_info]

54                       you will discover all you need
290       • How to make better business decisions using
381    Concepts are presented in a "to-the-point" sty...
382                                     standard library
476    This Python programming guide assumes certain ...
492         Scroll to the top of the page and click the
633                                         "Brilliant."
Name: language, dtype: object

I will store the indexes of these rows, which do not contain some language information.

In [21]:
not_lang_indexes = df.language[not_language_info].index

In [22]:
not_lang_indexes

Int64Index([54, 290, 381, 382, 476, 492, 633], dtype='int64')

Now I will create a function to add these comments to the comments column

Check if these rows have already a comment

In [23]:
df.loc[not_lang_indexes].comments

54       NaN
290      NaN
381      NaN
382    1,000
476      NaN
492      NaN
633      NaN
Name: comments, dtype: object

I have just discovered that row 382 had a valid number of pages:  1000 pages. I sent his page number to comments. I will fix this before going further.

In [24]:
df.loc[382, ['pages']] = 1000
df.loc[382, ['comments']] = np.nan

In [25]:
df.iloc[382]

title            Python 3: The Comprehensive Guide to Hands-On ...
author                           Johannes Ernesti and Peter Kaiser
price                                                        55.48
pages                                                       1000.0
language                                          standard library
publisher        Rheinwerk Computing; First edition (September ...
ISBN_13                                             978-1493223022
complete_link    https://www.amazon.com/gp/slredirect/picassoRe...
comments                                                       NaN
Name: 382, dtype: object

In [26]:
df.loc[not_lang_indexes].comments

54     NaN
290    NaN
381    NaN
382    NaN
476    NaN
492    NaN
633    NaN
Name: comments, dtype: object

Their comments values are NaN, so I will replace the with their values in column `language`

In [27]:
df.loc[not_lang_indexes].comments = df.loc[not_lang_indexes].language

Remove the comments from the `language` column:

In [28]:
df.loc[not_lang_indexes, ['language']] = np.nan

Now let's process the rest of the language values.

In [29]:
df.language.unique()

array(['English', nan, 'Spanish',
       'Unqualified, Japanese (Dolby Digital 2.0 Mono), English (Dolby Digital 5.1), English (Dolby Digital 2.0 Mono)',
       'English (Dolby Digital 2.0 Mono)',
       'English (DTS-HD Master Audio 5.1), French (DTS-HD 2.0)'],
      dtype=object)

There are only three types of language values which need cleaning, so I will create a function to clean them:

In [30]:
def clean_language(row):
	lang = row.language
	comment = row.comments
	if lang == 'Unqualified, Japanese (Dolby Digital 2.0 Mono), English (Dolby Digital 5.1), English (Dolby Digital 2.0 Mono)' :
		row.language = 'English, Japanese'
		if comment != comment:  #check if comment is NaN
			row.comments = 'Avaliable languages: Japanese (Dolby Digital 2.0 Mono), English (Dolby Digital 5.1), English (Dolby Digital 2.0 Mono)'
		else:
			row.comments += ' Avaliable languages: Japanese (Dolby Digital 2.0 Mono), English (Dolby Digital 5.1), English (Dolby Digital 2.0 Mono)'
	
	elif lang == 'English (Dolby Digital 2.0 Mono)' :
		row.language = 'English'
		if comment != comment:
			row.comments = 'English (Dolby Digital 2.0 Mono)'
		else:
			row.comments += 'English (Dolby Digital 2.0 Mono)'
	
	elif lang == 'English (DTS-HD Master Audio 5.1), French (DTS-HD 2.0)' :
		row.language = 'English, French'
		if comment != comment :
			row.comments = 'English (DTS-HD Master Audio 5.1), French (DTS-HD 2.0)'
		else:
			row.comments += ' English (DTS-HD Master Audio 5.1), French (DTS-HD 2.0)'
	return row

In [31]:
df = df.apply(clean_language, axis=1)

Now the `language` column is clean:

In [32]:
df.language.unique()

array(['English', nan, 'Spanish', 'English, Japanese', 'English, French'],
      dtype=object)

## Clean `publisher`

I want to extract the date of publishing and create a new `publishing_date` column.

In [33]:
df.publisher

0         Notion Press Media Pvt Ltd (November 22, 2021)
1          O'Reilly Media; 1st edition (August 18, 2009)
2      Holy Macro! Books; Third edition (August 1, 2022)
3        O'Reilly Media; 2nd edition (November 14, 2017)
4            For Dummies; 5th edition (February 3, 2022)
                             ...
825            Corwin; First edition (December 15, 2017)
826        Springer; 1st ed. 2020 edition (July 2, 2020)
827                      Packt Publishing (July 8, 2022)
828                                                  NaN
829                                                  NaN
Name: publisher, Length: 830, dtype: object

Create a function to extract the publishing date from the values

In [34]:
def extract_date(value):
    months = 'January February March April May June July August September October November December'.split(' ')
    if value == value: 
        for month in months:
            date_index = value.find(month)
            if date_index != -1:  # returns -1 if string not found
                publisher = value[:date_index].replace(' (', '')
                date = value[date_index:-1]  # drop the closing parenthesis using [:-1]
                return [publisher, date]
        return [value, 'no date']
    else:
        return np.nan

In [35]:
publish_info = df.publisher.apply(extract_date)

In [36]:
publish_info.sample(5)

169          [CRC Press; 2nd edition, September 1, 2020]
218           [Esri Press; Second edition, May 26, 2020]
453    [No Starch Press; Flc Crds edition, January 15...
787    [Dover Publications; 2nd Revised ed. edition, ...
60      [Springer; 2nd ed. 2015 edition, April 22, 2015]
Name: publisher, dtype: object

Check for `no date` values

In [44]:
dates = publish_info.dropna().apply(lambda x : x[1])
dates [ dates =='no date']

174    no date
Name: publisher, dtype: object

In [46]:
publish_info.loc[174]

[';', 'no date']

I will check if there are any invalid values, in order to investigate them later.

## WORKING ON FIXING THIS !!

It's just a value, so there's no need to create a function. I will set it to NaN.

In [47]:
df.loc[174, 'publisher'] = np.nan

I create a new column: `publishing_date` :

In [50]:
publish_info = df.publisher.apply(extract_date)

In [51]:
dates = publish_info.dropna().apply(lambda x : x[1])
dates [ dates =='no date']

Series([], Name: publisher, dtype: object)

In [52]:
df['publishing_date'] = [i[1] if (i==i) else i for i in publish_info]

In [53]:
df.publishing_date = pd.to_datetime(df.publishing_date)

Now I replace the `publisher` values with the processed publisher information:

In [54]:
df['publisher'] = [i[0] if (i==i) else i for i in publish_info]

In [55]:
df.publisher

0            Notion Press Media Pvt Ltd
1           O'Reilly Media; 1st edition
2      Holy Macro! Books; Third edition
3           O'Reilly Media; 2nd edition
4              For Dummies; 5th edition
                     ...
825               Corwin; First edition
826      Springer; 1st ed. 2020 edition
827                    Packt Publishing
828                                 NaN
829                                 NaN
Name: publisher, Length: 830, dtype: object

In [56]:
df.publisher = df.publisher.str.replace(';', ',')

In [57]:
df.publisher.sample(10)

225    Roberts and Company Publishers, 2nd edition
826                 Springer, 1st ed. 2020 edition
714              Packt Publishing, 2nd ed. edition
796                                            NaN
183                 QuickStudy, Lam Rfc Cr edition
2                 Holy Macro! Books, Third edition
205                                            NaN
199              Packt Publishing, 3rd ed. edition
451                    O'Reilly Media, 2nd edition
37                                 No Starch Press
Name: publisher, dtype: object

## Clean `ISBN_13`

It seems like some `ISBN_13` values are empty but not set as NaN. Aslo, lenght of ISBN_13 code must be 14 (13 + hyphen).

In [58]:
df.ISBN_13 [ df.ISBN_13.str.len() != 14]

5                              NaN
7      Research in Drama Education
12                             NaN
13
14
                  ...
824                             99
825                             59
826
828                            NaN
829
Name: ISBN_13, Length: 369, dtype: object

In [59]:
df.ISBN_13 [ df.ISBN_13.str.len() != 14].unique()

array([nan, 'Research in Drama Education', ' ', '$13.99 ', '-34%',
       '     ', 'Usually ships within 2 to 3 days.', '#NAME?', '#250 in ',
       '#1 in ', '  Second Edition, Second edition ', '$113.19 ', '-22%',
       'The Data Revolution',
       'Regulating Alcohol around the World: Policy Cocktails', '-19%',
       '#35 in ', 'x', '-27%', '79', '99', '-21%', '75', '49', '69', '29',
       '66', '-30%', '  Kindle Edition ', '$139.99 ', '$13.79 ', 'Python',
       '#372 in ', 'PennyLane', 'JOSH TYSON', '—', '-39%', '59', '39',
       '-25%', '30', '56', '25'], dtype=object)

First set empty values to NaN

In [60]:
df.ISBN_13 = np.where((df.ISBN_13 == '') | (df.ISBN_13 == ' '), np.nan, df.ISBN_13)

Check if row with invalid ISBN_13 values have already comments:

In [61]:
df.ISBN_13 [ df.ISBN_13.str.len() != 14].unique()

array([nan, 'Research in Drama Education', '$13.99 ', '-34%', '     ',
       'Usually ships within 2 to 3 days.', '#NAME?', '#250 in ',
       '#1 in ', '  Second Edition, Second edition ', '$113.19 ', '-22%',
       'The Data Revolution',
       'Regulating Alcohol around the World: Policy Cocktails', '-19%',
       '#35 in ', 'x', '-27%', '79', '99', '-21%', '75', '49', '69', '29',
       '66', '-30%', '  Kindle Edition ', '$139.99 ', '$13.79 ', 'Python',
       '#372 in ', 'PennyLane', 'JOSH TYSON', '—', '-39%', '59', '39',
       '-25%', '30', '56', '25'], dtype=object)

In [62]:
invalid_isbn_values = list(df.ISBN_13 [ df.ISBN_13.str.len() != 14].unique())

In [63]:
invalid_isbn_values[:5]

[nan, 'Research in Drama Education', '$13.99 ', '-34%', '     ']

Let's drop the nan values from invalid isbn values:

In [64]:
invalid_isbn_values = invalid_isbn_values[1:]

Let's check if the rows with prices in the `ISBN_13` column have the price set.

In [65]:
df[['price', 'ISBN_13']][df.ISBN_13.isin(invalid_isbn_values)].T

,7,31,61,80,91,121,134,138,161,195,...,725,730,731,732,763,787,796,819,824,825
price,90.0,13.99,26.49,121.99,31.3,26.44,NaN,NaN,24.95,113.19,...,14.19,41.16,14.99,15.3,139.56,11.89,46.5,24.95,9.69,5.33
ISBN_13,Research in Drama Education,$13.99,-34%,,Usually ships within 2 to 3 days.,#NAME?,#250 in,#1 in,"Second Edition, Second edition",$113.19,...,39,-25%,99,30,56,69,-22%,25,99,59

At the sight of the results, besides a couple of rows,the rest of the ISBN invalid values are not worth processing. I will just set them as NaN.  
I will process the rows number: 7, 161, 233 and 292

In [66]:
df.loc[[7,161,233,292], ['title', 'ISBN_13', 'comments'] ]

,title,ISBN_13,comments
7,Qualitative Data Analysis: A Methods Sourcebook,Research in Drama Education,NaN
161,Guerrilla Data Analysis Using Microsoft Excel:...,"Second Edition, Second edition",NaN
233,The Data Revolution: A Critical Analysis of Bi...,The Data Revolution,NaN
292,An Introduction to Data Analysis: Quantitative...,Regulating Alcohol around the World: Policy Co...,NaN

It seems like book in row 292 has an ISBN value that has nothing to do this its title.

In [67]:
df.loc[292, ['title']].values

array(['An Introduction to Data Analysis: Quantitative, Qualitative and Mixed Methods'],
      dtype=object)

In [68]:
df.loc[292, 'ISBN_13']

'Regulating Alcohol around the World: Policy Cocktails'

I will clean manually these 4 rows:

In [69]:
df.loc[7, 'comments'] = 'Research in Drama Education'
df.loc[161, 'ISBN_13'] = 'Second edition'
df.loc[[233, 292], 'ISBN_13'] = np.nan

The rest of invalid ISBN values will be set to NaN

In [70]:
df[['price', 'ISBN_13']][df.ISBN_13.isin(invalid_isbn_values)].T

,7,31,61,80,91,121,134,138,195,217,...,725,730,731,732,763,787,796,819,824,825
price,90.0,13.99,26.49,121.99,31.3,26.44,NaN,NaN,113.19,46.53,...,14.19,41.16,14.99,15.3,139.56,11.89,46.5,24.95,9.69,5.33
ISBN_13,Research in Drama Education,$13.99,-34%,,Usually ships within 2 to 3 days.,#NAME?,#250 in,#1 in,$113.19,-22%,...,39,-25%,99,30,56,69,-22%,25,99,59

In [71]:
df.loc[df.ISBN_13.isin(invalid_isbn_values), 'ISBN_13'] = np.nan

I check ISBN values again...

In [72]:
[i for i in df['ISBN_13'].dropna().unique() if not i.startswith('9')]

['Second edition', 'Pratip Samanta']

A couple of rows still need a cleaning

In [73]:
invalid_isbn_values = [i for i in df['ISBN_13'].dropna().unique() if not i.startswith('9')]

In [74]:
df[['ISBN_13', 'comments']][df.ISBN_13.isin(invalid_isbn_values)]

            ISBN_13 comments
161  Second edition      NaN
427  Pratip Samanta      NaN

In [75]:
df.loc[[161, 427], 'comments'] = df.loc[[161, 427], 'ISBN_13']
df.loc[[161, 427], 'ISBN_13'] = np.nan

Finally ISBN column is clean:

In [76]:
[i for i in df['ISBN_13'].dropna().unique() if not i.startswith('9')]

[]

In [77]:
df.ISBN_13.sample(15)

39     978-1098100667
690               NaN
5                 NaN
789               NaN
248    978-0132744287
40     979-8420836248
296    978-1589486089
328    978-0578973838
113    978-0262232586
329    978-1119621492
365    978-0137613663
677    978-1938946035
198               NaN
275    979-8357294340
304               NaN
Name: ISBN_13, dtype: object

## Fine tuning of titles

In [78]:

def lower_words(title_string):
    words_to_lower = ['Using', 'And', 'For']
    for word in words_to_lower:
        if word in title_string:
            title_string = title_string.replace(word, word.lower())
    return title_string

In [79]:
df.title = df.title.apply(lower_words)

## Reorder dataset

A final reorder of the columns in the dataset.

In [80]:
new_order = ['title', 'author', 'publisher', 'publishing_date', 'pages', 'price', 'language', 'ISBN_13', 'complete_link', 'comments']

In [81]:
df = df.reindex(new_order, axis=1)

Finally, get a sample to have an overview of the clean dataset.

In [82]:
df.sample(10)

,title,author,publisher,publishing_date,pages,price,language,ISBN_13,complete_link,comments
273,Qualitative Data Analysis with ATLAS.ti,Susanne Friese,"SAGE Publications Ltd, Third edition",2019-04-22,344.0,49.99,English,978-1526458926,https://www.amazon.com/Qualitative-Data-Analys...,NaN
699,"The Science of Hockey: The Math, Technology, a...",Kevin Snow and John Vogl,Sports Publishing,2023-01-03,NaN,10.99,English,NaN,https://www.amazon.com/Science-Hockey-Technolo...,NaN
559,Macramè for Beginners: Discover the Art of Mac...,Michelle Yates,Independently published,2022-09-17,172.0,18.96,English,979-8353349204,https://www.amazon.com/gp/slredirect/picassoRe...,NaN
100,"An Introduction to Categorical Data Analysis, ...",Agresti,"Wiley, 3rd edition",2018-11-05,394.0,92.83,English,NaN,https://www.amazon.com/Introduction-Categorica...,NaN
427,Advanced Data Analytics using Python: With Arc...,Sayan Mukhopadhyay and Pratip Samanta,"Apress, 2nd edition",2022-11-25,269.0,29.99,English,NaN,https://www.amazon.com/Advanced-Data-Analytics...,Pratip Samanta
601,Python Programming for Beginners: A Kid's Guid...,Patricia Foster,Rockridge Press,2020-11-03,198.0,14.40,English,978-1646113880,https://www.amazon.com/Python-Programming-Begi...,NaN
482,Black Hat Python: Python Programming for Hacke...,Justin Seitz,"No Starch Press, 1st edition",2014-12-21,192.0,34.95,English,978-1593275907,https://www.amazon.com/Black-Hat-Python-Progra...,NaN
233,The Data Revolution: A Critical Analysis of Bi...,Rob Kitchin,"SAGE Publications Ltd, Second edition",2022-05-31,376.0,42.00,English,NaN,https://www.amazon.com/Data-Revolution-Critica...,NaN
719,Data Science from Scratch with Python: A Step ...,Richard Wilson,NaN,NaT,243.0,NaN,English,NaN,https://www.amazon.com/Data-Science-Scratch-Py...,NaN
137,Python for Data Analysis: Learn the Principles...,Robert Campbell,Robert Campbell,2022-10-16,74.0,33.99,English,978-1803064420,https://www.amazon.com/Python-Data-Analysis-Pr...,NaN

## Export the result

In [83]:
df.to_csv('data_science_books_clean.csv', index=False, na_rep='NaN')