In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('data_science_books.csv')

In [3]:
data.head()

,title,author,price,price (including used books),pages,avg_reviews,n_reviews,star5,star4,star3,star2,star1,dimensions,weight,language,publisher,ISBN_13,link,complete_link
0,Data Analysis Using R (Low Priced Edition): A ...,[ Dr Dhaval Maheta],6.75,6.75,500,4.4,23,55%,39%,6%,NaN,NaN,8.5 x 1.01 x 11 inches,2.53 pounds,English,"Notion Press Media Pvt Ltd (November 22, 2021)",978-1685549596,/Data-Analysis-Using-Low-Priced/dp/1685549594/...,https://www.amazon.com/Data-Analysis-Using-Low...
1,Head First Data Analysis: A learner's guide to...,NaN,33.72,21.49 - 33.72,484,4.3,124,61%,20%,9%,4%,6%,8 x 0.98 x 9.25 inches,1.96 pounds,English,"O'Reilly Media; 1st edition (August 18, 2009)",978-0596153939,/Head-First-Data-Analysis-statistics/dp/059615...,https://www.amazon.com/Head-First-Data-Analysi...
2,Guerrilla Data Analysis Using Microsoft Excel:...,"[ Oz du Soleil, and , Bill Jelen]",32.07,32.07,274,4.7,10,87%,13%,NaN,NaN,NaN,8.25 x 0.6 x 10.75 inches,1.4 pounds,English,"Holy Macro! Books; Third edition (August 1, 2022)",978-1615470747,/Guerrilla-Analysis-Using-Microsoft-Excel/dp/1...,https://www.amazon.com/Guerrilla-Analysis-Usin...
3,Python for Data Analysis: Data Wrangling with ...,[ William McKinney],53.99,53.99,547,4.6,"1,686",75%,16%,5%,2%,2%,7 x 1.11 x 9.19 inches,1.47 pounds,English,"O'Reilly Media; 2nd edition (November 14, 2017)",978-1491957660,/Python-Data-Analysis-Wrangling-IPython/dp/149...,https://www.amazon.com/Python-Data-Analysis-Wr...
4,Excel Data Analysis For Dummies (For Dummies (...,[ Paul McFedries],24.49,24.49,368,3.9,12,52%,17%,10%,10%,10%,7.38 x 0.83 x 9.25 inches,1.3 pounds,English,"For Dummies; 5th edition (February 3, 2022)",978-1119844426,/Excel-Data-Analysis-Dummies-Computer/dp/11198...,https://www.amazon.com/Excel-Data-Analysis-Dum...

In [4]:
data.columns

Index(['title', 'author', 'price', 'price (including used books)', 'pages',
       'avg_reviews', 'n_reviews', 'star5', 'star4', 'star3', 'star2', 'star1',
       'dimensions', 'weight', 'language', 'publisher', 'ISBN_13', 'link',
       'complete_link'],
      dtype='object')

In [5]:
df = data['title, author, price, pages, language, publisher, ISBN_13, complete_link'.split(', ')]

In [6]:
df.columns

Index(['title', 'author', 'price', 'pages', 'language', 'publisher', 'ISBN_13',
       'complete_link'],
      dtype='object')

In [7]:
df.author.isna().count()

830

In [8]:
def clean_author(value):
	if value == value:
		return value.lstrip('[ ').rstrip(']').replace(',  and ,', ' and')
	else:
		return value

In [9]:
df.author = df.author.apply(clean_author)

/tmp/ipykernel_3554/4174911401.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.author = df.author.apply(clean_author)

In [10]:
df.sample(10)

,title,author,price,pages,language,publisher,ISBN_13,complete_link
384,"Invent Your Own Computer Games with Python, 4t...",Al Sweigart,20.49,376,English,"No Starch Press; 4th edition (December 16, 2016)",,https://www.amazon.com/Invent-Your-Computer-Ga...
707,Data Quality Fundamentals: A Practitioner's Gu...,"Barr Moses, Lior Gavish, et al.",46.99,308,English,"O'Reilly Media; 1st edition (October 11, 2022)",-22%,https://www.amazon.com/Data-Quality-Fundamenta...
723,"Introducing Data Science: Big Data, Machine Le...","Davy Cielen, Arno Meysman, et al.",42.74,320,English,"Manning; 1st edition (May 23, 2016)",978-1633430037,https://www.amazon.com/Introducing-Data-Scienc...
251,Humanities Data Analysis: Case Studies with Py...,"Folgert Karsdorp, Mike Kestemont, et al.",19.31,360,English,"Princeton University Press (January 12, 2021)",978-0691172361,https://www.amazon.com/Humanities-Data-Analysi...
12,Python for Beginners: 2 Books in 1: The Perfec...,"Programming Languages Academy, Matthew Kinsey,...",NaN,NaN,NaN,NaN,NaN,https://www.amazon.com/Python-Beginners-Perfec...
487,Problem Solving with Algorithms and Data Struc...,Bradley N. Miller and David L. Ranum,42.75,438,English,"Franklin, Beedle & Associates; 2nd edition (Au...",,https://www.amazon.com/Problem-Solving-Algorit...
740,Targeted Learning in Data Science: Causal Infe...,NaN,85.04,682,English,"Springer; 1st ed. 2018 edition (April 10, 2018)",,https://www.amazon.com/Targeted-Learning-Data-...
409,"Python One-Liners: Write Concise, Eloquent Pyt...",Christian Mayer,39.55,216,English,"No Starch Press; Illustrated edition (June 2, ...",978-1718500501,https://www.amazon.com/Python-One-Liners-Conci...
675,The Data Science Design Manual (Texts in Compu...,NaN,59.95,462,English,"Springer; 1st ed. 2017 edition (August 29, 2017)",978-3319554433,https://www.amazon.com/Science-Design-Manual-T...
74,Talent Intelligence: Use Business and People D...,Toby Culshaw,41.99,256,English,"Kogan Page; 1st edition (October 25, 2022)",978-1398607231,https://www.amazon.com/Talent-Intelligence-Bus...

There's an error when trying to convert prices to float:  
`ValueError: could not convert string to float: 'Explores all feature...`  
Some values content comments, so I need to clean the price columns first.

In [11]:
#df.pages.astype(float)

I will figure out what's the maximum lenght of the figures in pages column. I will try to convert to float those values of a maximum length. If it raises an error, it means there are values that are strings. In that case, I try using a shorter length for figures.

Length 5 raises an error, but maximum length of pages figure of 4 doesn't.

In [12]:
#df.pages[df.pages.str.len() <=5].astype(float)

In [13]:
df.pages[df.pages.str.len() <=4].astype(float)

0      500.0
1      484.0
2      274.0
3      547.0
4      368.0
       ...
822    165.0
824    280.0
825    208.0
826    573.0
827    288.0
Name: pages, Length: 736, dtype: float64

Now I know that values longer than 4 are comments. Shorter values correspond to pages number, so there won't be a comment (use NaN). With this information I create a column with comments.

In [14]:
df['comments'] = np.where(df.pages.str.len() >= 5, df.pages, np.nan)

/tmp/ipykernel_3554/3878540880.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['comments'] = np.where(df.pages.str.len() >= 5, df.pages, np.nan)

Now let's finally clean the pages column.

In [15]:
df.pages = np.where(df.pages.str.len() <= 4, df.pages, np.nan).astype(float)

/tmp/ipykernel_3554/108972310.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.pages = np.where(df.pages.str.len() <= 4, df.pages, np.nan).astype(float)

In [16]:
df.sample(5)

,title,author,price,pages,language,publisher,ISBN_13,complete_link,comments
721,A Hands-On Introduction to Data Science,Chirag Shah,53.98,424.0,English,Cambridge University Press; 1st edition (April...,,https://www.amazon.com/Hands-Introduction-Data...,NaN
75,Time Series: A Data Analysis Approach Using R ...,NaN,57.34,271.0,English,"Chapman and Hall/CRC; 1st edition (May 17, 2019)",NaN,https://www.amazon.com/Time-Analysis-Approach-...,NaN
733,The Tableau Workshop: A practical guide to the...,"Sumit Gupta, Sylvester Pinto, et al.",46.99,822.0,English,"Packt Publishing (April 28, 2022)",978-1800207653,https://www.amazon.com/gp/slredirect/picassoRe...,NaN
159,The Algorithm Design Manual (Texts in Computer...,NaN,73.99,810.0,English,"Springer; 3rd ed. 2020 edition (October 6, 2020)",978-3030542559,https://www.amazon.com/Algorithm-Design-Manual...,NaN
17,Python in easy steps,NaN,10.69,192.0,English,"In Easy Steps Limited; 2nd edition (August 28,...",978-1840788129,https://www.amazon.com/Python-easy-steps-Cover...,NaN

Next column to clean will be `language'.

In [17]:
df.language.unique()

array(['English', nan, 'Spanish',
       'Unqualified, Japanese (Dolby Digital 2.0 Mono), English (Dolby Digital 5.1), English (Dolby Digital 2.0 Mono)',
       'you will discover all you need ',
       '• How to make better business decisions using ',
       'Concepts are presented in a "to-the-point" style to cater to the busy individual. With this book, you can learn Python in just one day and start coding immediately. ',
       'standard library',
       'This Python programming guide assumes certain level of programming knowledge. It is not a beginner textbook.',
       'Scroll to the top of the page and click the ',
       'English (Dolby Digital 2.0 Mono)',
       'English (DTS-HD Master Audio 5.1), French (DTS-HD 2.0)',
       '"Brilliant."'], dtype=object)

Some values have `English` or `Spanish` as language values. Some others have languages with other comments. Other values are just comments. This needs a more deep cleaning than previous columns.

`language` values that don't have English, Spanish, Japanese or French, will be considered as comments.

Multiple conditions to check:

In [18]:
contains_english = df.language.str.contains('English')
contains_spanish = df.language.str.contains('Spanish')
contains_japanese = df.language.str.contains('Japanese')
contains_french = df.language.str.contains('French')

Extract all the values that don't contain information about language.

In [19]:
not_language_info = ~(contains_english | contains_spanish | contains_japanese | contains_french | df.language.isnull() )

In [20]:
df.language[not_language_info]

54                       you will discover all you need
290       • How to make better business decisions using
381    Concepts are presented in a "to-the-point" sty...
382                                     standard library
476    This Python programming guide assumes certain ...
492         Scroll to the top of the page and click the
633                                         "Brilliant."
Name: language, dtype: object

I will store the indexes of these rows, which do not contain some language information.

In [21]:
not_lang_indexes = df.language[not_language_info].index

In [22]:
not_lang_indexes

Int64Index([54, 290, 381, 382, 476, 492, 633], dtype='int64')

Now I will create a function to add these comments to the comments column

Check if these rows have already a comment

In [23]:
df.loc[not_lang_indexes].comments

54       NaN
290      NaN
381      NaN
382    1,000
476      NaN
492      NaN
633      NaN
Name: comments, dtype: object

I have just discovered that row 382 had a valid number of pages:  1000 pages. I sent his page number to comments. I will fix this before going further.

In [24]:
df.loc[382, ['pages']] = 1000
df.loc[382, ['comments']] = np.nan

In [25]:
df.iloc[382]

title            Python 3: The Comprehensive Guide to Hands-On ...
author                           Johannes Ernesti and Peter Kaiser
price                                                        55.48
pages                                                       1000.0
language                                          standard library
publisher        Rheinwerk Computing; First edition (September ...
ISBN_13                                             978-1493223022
complete_link    https://www.amazon.com/gp/slredirect/picassoRe...
comments                                                       NaN
Name: 382, dtype: object

In [26]:
df.loc[not_lang_indexes].comments

54     NaN
290    NaN
381    NaN
382    NaN
476    NaN
492    NaN
633    NaN
Name: comments, dtype: object

Their comments values are NaN, so I will replace the with their values in column `language`

In [27]:
df.loc[not_lang_indexes].comments = df.loc[not_lang_indexes].language

Remove the comments from the `language` column:

In [28]:
df.loc[not_lang_indexes, ['language']] = np.nan

Now let's process the rest of the language values.

In [29]:
df.language.unique()

array(['English', nan, 'Spanish',
       'Unqualified, Japanese (Dolby Digital 2.0 Mono), English (Dolby Digital 5.1), English (Dolby Digital 2.0 Mono)',
       'English (Dolby Digital 2.0 Mono)',
       'English (DTS-HD Master Audio 5.1), French (DTS-HD 2.0)'],
      dtype=object)

I will select the

There are only three types of language values which need cleaning, so I will create a function to clean them:

In [33]:
def clean_language(row):
	lang = row.language
	comment = row.comments
	if lang == 'Unqualified, Japanese (Dolby Digital 2.0 Mono), English (Dolby Digital 5.1), English (Dolby Digital 2.0 Mono)' :
		row.language = 'English, Japanese'
		if comment != comment:  #check if comment is NaN
			row.comments = 'Avaliable languages: Japanese (Dolby Digital 2.0 Mono), English (Dolby Digital 5.1), English (Dolby Digital 2.0 Mono)'
		else:
			row.comments += ' Avaliable languages: Japanese (Dolby Digital 2.0 Mono), English (Dolby Digital 5.1), English (Dolby Digital 2.0 Mono)'
	
	elif lang == 'English (Dolby Digital 2.0 Mono)' :
		row.language = 'English'
		if comment != comment:
			row.comments = 'English (Dolby Digital 2.0 Mono)'
		else:
			row.comments += 'English (Dolby Digital 2.0 Mono)'
	
	elif lang == 'English (DTS-HD Master Audio 5.1), French (DTS-HD 2.0)' :
		row.language = 'English, French'
		if comment != comment :
			row.comments = 'English (DTS-HD Master Audio 5.1), French (DTS-HD 2.0)'
		else:
			row.comments += ' English (DTS-HD Master Audio 5.1), French (DTS-HD 2.0)'
	return row

In [34]:
df = df.apply(clean_language, axis=1)

Now the `language` column is clean:

In [36]:
df.language.unique()

array(['English', nan, 'Spanish', 'English, Japanese', 'English, French'],
      dtype=object)