In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('data_science_books.csv')

In [3]:
data.head()

,title,author,price,price (including used books),pages,avg_reviews,n_reviews,star5,star4,star3,star2,star1,dimensions,weight,language,publisher,ISBN_13,link,complete_link
0,Data Analysis Using R (Low Priced Edition): A ...,[ Dr Dhaval Maheta],6.75,6.75,500,4.4,23,55%,39%,6%,NaN,NaN,8.5 x 1.01 x 11 inches,2.53 pounds,English,"Notion Press Media Pvt Ltd (November 22, 2021)",978-1685549596,/Data-Analysis-Using-Low-Priced/dp/1685549594/...,https://www.amazon.com/Data-Analysis-Using-Low...
1,Head First Data Analysis: A learner's guide to...,NaN,33.72,21.49 - 33.72,484,4.3,124,61%,20%,9%,4%,6%,8 x 0.98 x 9.25 inches,1.96 pounds,English,"O'Reilly Media; 1st edition (August 18, 2009)",978-0596153939,/Head-First-Data-Analysis-statistics/dp/059615...,https://www.amazon.com/Head-First-Data-Analysi...
2,Guerrilla Data Analysis Using Microsoft Excel:...,"[ Oz du Soleil, and , Bill Jelen]",32.07,32.07,274,4.7,10,87%,13%,NaN,NaN,NaN,8.25 x 0.6 x 10.75 inches,1.4 pounds,English,"Holy Macro! Books; Third edition (August 1, 2022)",978-1615470747,/Guerrilla-Analysis-Using-Microsoft-Excel/dp/1...,https://www.amazon.com/Guerrilla-Analysis-Usin...
3,Python for Data Analysis: Data Wrangling with ...,[ William McKinney],53.99,53.99,547,4.6,"1,686",75%,16%,5%,2%,2%,7 x 1.11 x 9.19 inches,1.47 pounds,English,"O'Reilly Media; 2nd edition (November 14, 2017)",978-1491957660,/Python-Data-Analysis-Wrangling-IPython/dp/149...,https://www.amazon.com/Python-Data-Analysis-Wr...
4,Excel Data Analysis For Dummies (For Dummies (...,[ Paul McFedries],24.49,24.49,368,3.9,12,52%,17%,10%,10%,10%,7.38 x 0.83 x 9.25 inches,1.3 pounds,English,"For Dummies; 5th edition (February 3, 2022)",978-1119844426,/Excel-Data-Analysis-Dummies-Computer/dp/11198...,https://www.amazon.com/Excel-Data-Analysis-Dum...

In [4]:
data.columns

Index(['title', 'author', 'price', 'price (including used books)', 'pages',
       'avg_reviews', 'n_reviews', 'star5', 'star4', 'star3', 'star2', 'star1',
       'dimensions', 'weight', 'language', 'publisher', 'ISBN_13', 'link',
       'complete_link'],
      dtype='object')

In [5]:
df = data['title, author, price, pages, language, publisher, ISBN_13, complete_link'.split(', ')]

In [6]:
df.columns

Index(['title', 'author', 'price', 'pages', 'language', 'publisher', 'ISBN_13',
       'complete_link'],
      dtype='object')

In [7]:
df.author.isna().count()

830

In [8]:
def clean_author(value):
	if value == value:
		return value.lstrip('[ ').rstrip(']').replace(',  and ,', ' and')
	else:
		return value

In [9]:
df.author = df.author.apply(clean_author)

C:\Users\code\AppData\Local\Temp\ipykernel_3152\4174911401.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.author = df.author.apply(clean_author)

In [10]:
df.sample(10)

,title,author,price,pages,language,publisher,ISBN_13,complete_link
98,Qualitative and Mixed Methods Data Analysis Us...,"Michelle Suzanne Salmona, Eli Lieber, et al.",48.99,280,English,"SAGE Publications, Inc; 1st edition (September...",978-1506397818,https://www.amazon.com/Qualitative-Mixed-Metho...
672,Data Science and Machine Learning: Mathematica...,NaN,80.00,510,English,Chapman and Hall/CRC; 1st edition (November 22...,978-1138492530,https://www.amazon.com/Data-Science-Machine-Le...
52,Software Architecture: The Hard Parts: Modern ...,"Neal Ford, Mark Richards, et al.",30.99,459,English,"O'Reilly Media; 1st edition (November 30, 2021)",,https://www.amazon.com/Software-Architecture-T...
27,Python Programming For Beginners: The Ultimate...,Leonard J. Ledger,15.97,88,English,"Independently published (September 24, 2022)",979-8354411122,https://www.amazon.com/Python-Programming-Begi...
592,Python for MBAs,Mattan Griffel and Daniel Guetta,16.99,493,English,"Columbia Business School Publishing (May 4, 2021)",NaN,https://www.amazon.com/Python-MBAs-Mattan-Grif...
544,Internet of Things Using Single Board Computer...,G. R. Kanagachidambaresan,49.99,312,English,"Apress; 1st ed. edition (December 12, 2022)",978-1484281079,https://www.amazon.com/Internet-Things-Using-S...
731,Don't Trust Your Gut: Using Data to Get What Y...,Seth Stephens-Davidowitz,14.99,316,English,"Dey Street Books (May 10, 2022)",99,https://www.amazon.com/Dont-Trust-Your-Gut-Rea...
357,Interactive Dashboards and Data Apps with Plot...,Elias Dabbas,40.71,Expand your app by creating dynamic that gene...,English,"Packt Publishing (May 21, 2021)",978-1800568914,https://www.amazon.com/gp/slredirect/picassoRe...
638,"Database Technologies: Concepts, Methodologies...",John Erickson,743.47,2962,English,Information Science Reference; 1st edition (Fe...,978-1605660585,https://www.amazon.com/Database-Technologies-C...
299,Data Analysis with IBM SPSS Statistics: Implem...,Kenneth Stehlik-Barry and Anthony J. Babinec,37.49,682,English,"Packt Publishing; 1st edition (September 22, 2...",NaN,https://www.amazon.com/Data-Analysis-IBM-SPSS-...

There's an error when trying to convert prices to float:  
`ValueError: could not convert string to float: 'Explores all feature...`  
Some values content comments, so I need to clean the price columns first.

In [11]:
#df.pages.astype(float)

I will figure out what's the maximum lenght of the figures in pages column. I will try to convert to float those values of a maximum length. If it raises an error, it means there are values that are strings. In that case, I try using a shorter length for figures.

Length 5 raises an error, but maximum length of pages figure of 4 doesn't.

In [12]:
#df.pages[df.pages.str.len() <=5].astype(float)

In [13]:
df.pages[df.pages.str.len() <=4].astype(float)

0      500.0
1      484.0
2      274.0
3      547.0
4      368.0
       ...
822    165.0
824    280.0
825    208.0
826    573.0
827    288.0
Name: pages, Length: 736, dtype: float64

Now I know that values longer than 4 are comments. Shorter values correspond to pages number, so there won't be a comment (use NaN). With this information I create a column with comments.

In [14]:
df['comments'] = np.where(df.pages.str.len() >= 5, df.pages, np.nan)

C:\Users\code\AppData\Local\Temp\ipykernel_3152\3878540880.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['comments'] = np.where(df.pages.str.len() >= 5, df.pages, np.nan)

Now let's finally clean the pages column.

In [15]:
df.pages = np.where(df.pages.str.len() <= 4, df.pages, np.nan).astype(float)

C:\Users\code\AppData\Local\Temp\ipykernel_3152\108972310.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.pages = np.where(df.pages.str.len() <= 4, df.pages, np.nan).astype(float)

In [16]:
df.sample(5)

,title,author,price,pages,language,publisher,ISBN_13,complete_link,comments
103,Introduction to Environmental Data Science (Ch...,NaN,99.95,399.0,English,"Chapman and Hall/CRC; 1st edition (March 2, 2023)",978-1032322186,https://www.amazon.com/Introduction-Environmen...,NaN
536,Learning Scientific Programming with Python,Christian Hill,51.63,570.0,English,Cambridge University Press; 2nd edition (Decem...,978-1108745918,https://www.amazon.com/Learning-Scientific-Pro...,NaN
324,Hypothesis Testing: An Intuitive Guide for Mak...,Jim Frost,23.74,381.0,English,"Statistics By Jim Publishing (September 14, 2020)",978-1735431154,https://www.amazon.com/Hypothesis-Testing-Intu...,NaN
508,The Quick Python Book,Naomi Ceder,29.99,472.0,English,"Manning; 3rd edition (June 14, 2018)",,https://www.amazon.com/Quick-Python-Book-Naomi...,NaN
651,Build a Career in Data Science,"Emily Robinson, Jacqueline Nolis, et al.",NaN,NaN,NaN,NaN,#372 in,https://www.amazon.com/Build-Career-Data-Scien...,NaN

Next column to clean will be `language'.

In [17]:
df.language.unique()

array(['English', nan, 'Spanish',
       'Unqualified, Japanese (Dolby Digital 2.0 Mono), English (Dolby Digital 5.1), English (Dolby Digital 2.0 Mono)',
       'you will discover all you need ',
       '• How to make better business decisions using ',
       'Concepts are presented in a "to-the-point" style to cater to the busy individual. With this book, you can learn Python in just one day and start coding immediately. ',
       'standard library',
       'This Python programming guide assumes certain level of programming knowledge. It is not a beginner textbook.',
       'Scroll to the top of the page and click the ',
       'English (Dolby Digital 2.0 Mono)',
       'English (DTS-HD Master Audio 5.1), French (DTS-HD 2.0)',
       '"Brilliant."'], dtype=object)

Some values have `English` or `Spanish` as language values. Some others have languages with other comments. Other values are just comments. This needs a more deep cleaning than previous columns.

`language` values that don't have English, Spanish, Japanese or French, will be considered as comments.

Multiple conditions to check:

In [18]:
contains_english = df.language.str.contains('English')
contains_spanish = df.language.str.contains('Spanish')
contains_japanese = df.language.str.contains('Japanese')
contains_french = df.language.str.contains('French')

Extract all the values that don't contain information about language.

In [19]:
not_language_info = ~(contains_english | contains_spanish | contains_japanese | contains_french | df.language.isnull() )

In [20]:
df.language[not_language_info]

54                       you will discover all you need
290       • How to make better business decisions using
381    Concepts are presented in a "to-the-point" sty...
382                                     standard library
476    This Python programming guide assumes certain ...
492         Scroll to the top of the page and click the
633                                         "Brilliant."
Name: language, dtype: object

I will store the indexes of these rows, which do not contain some language information.

In [21]:
not_lang_indexes = df.language[not_language_info].index

In [22]:
not_lang_indexes

Int64Index([54, 290, 381, 382, 476, 492, 633], dtype='int64')

Now I will create a function to add these comments to the comments column

Check if these rows have already a comment

In [23]:
df.loc[not_lang_indexes].comments

54       NaN
290      NaN
381      NaN
382    1,000
476      NaN
492      NaN
633      NaN
Name: comments, dtype: object

I have just discovered that row 382 had a valid number of pages:  1000 pages. I sent his page number to comments. I will fix this before going further.

In [24]:
df.loc[382, ['pages']] = 1000
df.loc[382, ['comments']] = np.nan

In [25]:
df.iloc[382]

title            Python 3: The Comprehensive Guide to Hands-On ...
author                           Johannes Ernesti and Peter Kaiser
price                                                        55.48
pages                                                       1000.0
language                                          standard library
publisher        Rheinwerk Computing; First edition (September ...
ISBN_13                                             978-1493223022
complete_link    https://www.amazon.com/gp/slredirect/picassoRe...
comments                                                       NaN
Name: 382, dtype: object

In [26]:
df.loc[not_lang_indexes].comments

54     NaN
290    NaN
381    NaN
382    NaN
476    NaN
492    NaN
633    NaN
Name: comments, dtype: object

Their comments values are NaN, so I will replace the with their values in column `language`

In [27]:
df.loc[not_lang_indexes].comments = df.loc[not_lang_indexes].language

Remove the comments from the `language` column:

In [28]:
df.loc[not_lang_indexes, ['language']] = np.nan

Now let's process the rest of the language values.

In [29]:
df.language.unique()

array(['English', nan, 'Spanish',
       'Unqualified, Japanese (Dolby Digital 2.0 Mono), English (Dolby Digital 5.1), English (Dolby Digital 2.0 Mono)',
       'English (Dolby Digital 2.0 Mono)',
       'English (DTS-HD Master Audio 5.1), French (DTS-HD 2.0)'],
      dtype=object)

I will select the

There are only three types of language values which need cleaning, so I will create a function to clean them:

In [30]:
def clean_language(row):
	lang = row.language
	comment = row.comments
	if lang == 'Unqualified, Japanese (Dolby Digital 2.0 Mono), English (Dolby Digital 5.1), English (Dolby Digital 2.0 Mono)' :
		row.language = 'English, Japanese'
		if comment != comment:  #check if comment is NaN
			row.comments = 'Avaliable languages: Japanese (Dolby Digital 2.0 Mono), English (Dolby Digital 5.1), English (Dolby Digital 2.0 Mono)'
		else:
			row.comments += ' Avaliable languages: Japanese (Dolby Digital 2.0 Mono), English (Dolby Digital 5.1), English (Dolby Digital 2.0 Mono)'
	
	elif lang == 'English (Dolby Digital 2.0 Mono)' :
		row.language = 'English'
		if comment != comment:
			row.comments = 'English (Dolby Digital 2.0 Mono)'
		else:
			row.comments += 'English (Dolby Digital 2.0 Mono)'
	
	elif lang == 'English (DTS-HD Master Audio 5.1), French (DTS-HD 2.0)' :
		row.language = 'English, French'
		if comment != comment :
			row.comments = 'English (DTS-HD Master Audio 5.1), French (DTS-HD 2.0)'
		else:
			row.comments += ' English (DTS-HD Master Audio 5.1), French (DTS-HD 2.0)'
	return row

In [31]:
df = df.apply(clean_language, axis=1)

Now the `language` column is clean:

In [32]:
df.language.unique()

array(['English', nan, 'Spanish', 'English, Japanese', 'English, French'],
      dtype=object)

Next step is clean `publisher` column. I want to extract the date of publishing and create a new `publishing_date` column.

In [33]:
df.publisher

0         Notion Press Media Pvt Ltd (November 22, 2021)
1          O'Reilly Media; 1st edition (August 18, 2009)
2      Holy Macro! Books; Third edition (August 1, 2022)
3        O'Reilly Media; 2nd edition (November 14, 2017)
4            For Dummies; 5th edition (February 3, 2022)
                             ...
825            Corwin; First edition (December 15, 2017)
826        Springer; 1st ed. 2020 edition (July 2, 2020)
827                      Packt Publishing (July 8, 2022)
828                                                  NaN
829                                                  NaN
Name: publisher, Length: 830, dtype: object

Create a function to extract the publishing date from the values

In [34]:
def extract_date(value):
	if value == value: 
		splited_value = value.split(' (')
		# date is the 2nd value of the list. 
		# Furthermore, drop the closing parenthesis using [:-1]
		if len(splited_value) == 2:
			publisher = splited_value[0]
			date = splited_value[1][:-1]
			return [publisher, date]
		else:
			return 'invalid data'
	else:
		return np.nan

In [35]:
publish_info = df.publisher.apply(extract_date)

In [36]:
publish_info.sample(5)

596    [Packt Publishing - ebooks Account, January 10...
447    [Packt Publishing; 3rd ed. edition, October 29...
74           [Kogan Page; 1st edition, October 25, 2022]
286    [Technics Publications; First edition, October...
174                                         invalid data
Name: publisher, dtype: object

I will check if there are any invalid values, in order to investigate them later.

In [37]:
publish_info [publish_info == 'invalid data']

174    invalid data
374    invalid data
586    invalid data
Name: publisher, dtype: object

They are just three values, so there's no need to create a function. I will extract the date manually.

In [38]:
df.loc[374].publisher

'Real Python (realpython.com); 4th edition (August 30, 2022)'

In [39]:
df.loc[374, ['publisher']] = 'Real Python - realpython.com - 4th edition (August 30, 2022)'

<hr style='color: green'/>

In [40]:
df.loc[586].publisher

'Real Python (realpython.com) (May 5, 2021)'

In [41]:
df.loc[586, ['publisher']] = 'Real Python realpython.com (May 5, 2021)'

<hr style='color: green'/>

In [42]:
df.loc[174, ['publisher']]

publisher    ;
Name: 174, dtype: object

In [43]:
df.loc[174, ['publisher']] = np.nan

Once the three anormal data have been processed, I will apply the `extract_date` function again.

In [44]:
publish_info = df.publisher.apply(extract_date)

I create a new column: `publishing_date` :

In [45]:
df['publishing_date'] = [i[1] if (i==i) else i for i in publish_info  ]

In [46]:
df.publishing_date = pd.to_datetime(df.publishing_date)

Now I replace the `publisher` values with the processed publisher information:

In [47]:
df['publisher'] = [i[0] if (i==i) else i for i in publish_info  ]

In [48]:
df.publisher

0            Notion Press Media Pvt Ltd
1           O'Reilly Media; 1st edition
2      Holy Macro! Books; Third edition
3           O'Reilly Media; 2nd edition
4              For Dummies; 5th edition
                     ...
825               Corwin; First edition
826      Springer; 1st ed. 2020 edition
827                    Packt Publishing
828                                 NaN
829                                 NaN
Name: publisher, Length: 830, dtype: object

In [49]:
df.publisher = df.publisher.str.replace(';', ',')

In [50]:
df.publisher.sample(10)

76     Springer, 2nd ed. 2021 edition
398                               NaN
583                          Pantheon
88            Independently published
343       O'Reilly Media, 1st edition
701    Scatterplot Press, 2nd edition
419                  Packt Publishing
303       O'Reilly Media, 1st edition
294                Wiley, 1st edition
241           Independently published
Name: publisher, dtype: object

In [51]:
df.sample(5)

,title,author,price,pages,language,publisher,ISBN_13,complete_link,comments,publishing_date
169,Spatial Analysis with R,Tonny J. Oyana,101.01,354.0,English,"CRC Press, 2nd edition",,https://www.amazon.com/Spatial-Analysis-Statis...,NaN,2020-09-01
184,Building Big Data Pipelines with Apache Beam: ...,Jan Lukavsky,46.99,342.0,English,Packt Publishing,,https://www.amazon.com/gp/slredirect/picassoRe...,NaN,2022-01-21
171,A History of Data Visualization and Graphic Co...,Michael Friendly and Howard Wainer,48.94,320.0,English,"Harvard University Press, Illustrated edition",,https://www.amazon.com/History-Data-Visualizat...,NaN,2021-06-08
674,The DATA Set Collection #2 (Boxed Set): A Case...,NaN,16.89,512.0,English,"Little Simon, Boxed Set edition",978-1534465350,https://www.amazon.com/DATA-Set-Collection-Inv...,NaN,2020-09-15
678,Mathematics for Machine Learning,NaN,48.99,398.0,English,"Cambridge University Press, 1st edition",978-1108455145,https://www.amazon.com/Mathematics-Machine-Lea...,NaN,2020-04-23

Reorder the columns:

## ISBN_13 cleaning

It seems like some `ISBN_13` values are empty but not set as NaN. Aslo, lenght of ISBN_13 code must be 14 (13 + hyphen).

In [52]:
df.ISBN_13 [ df.ISBN_13.str.len() != 14]

5                              NaN
7      Research in Drama Education
12                             NaN
13
14
                  ...
824                             99
825                             59
826
828                            NaN
829
Name: ISBN_13, Length: 369, dtype: object

In [53]:
df.ISBN_13 [ df.ISBN_13.str.len() != 14].unique()

array([nan, 'Research in Drama Education', ' ', '$13.99 ', '-34%',
       '     ', 'Usually ships within 2 to 3 days.', '#NAME?', '#250 in ',
       '#1 in ', '  Second Edition, Second edition ', '$113.19 ', '-22%',
       'The Data Revolution',
       'Regulating Alcohol around the World: Policy Cocktails', '-19%',
       '#35 in ', 'x', '-27%', '79', '99', '-21%', '75', '49', '69', '29',
       '66', '-30%', '  Kindle Edition ', '$139.99 ', '$13.79 ', 'Python',
       '#372 in ', 'PennyLane', 'JOSH TYSON', '—', '-39%', '59', '39',
       '-25%', '30', '56', '25'], dtype=object)

First set empty values to NaN

In [54]:
df.ISBN_13 = np.where((df.ISBN_13 == '') | (df.ISBN_13 == ' '), np.nan, df.ISBN_13)

Check if row with invalid ISBN_13 values have already comments:

In [55]:
invalid_isbn_values = df.ISBN_13 [ df.ISBN_13.str.len() != 14].unique()

Let's check if the rows with prices in the `ISBN_13` column have the price set.

In [56]:
df[['price', 'ISBN_13']][df.ISBN_13.isin(invalid_isbn_values)].dropna()

      price                                            ISBN_13
7     90.00                        Research in Drama Education
31    13.99                                            $13.99
61    26.49                                               -34%
80   121.99
91    31.30                  Usually ships within 2 to 3 days.
121   26.44                                             #NAME?
161   24.95                    Second Edition, Second edition
195  113.19                                           $113.19
217   46.53                                               -22%
233   42.00                                The Data Revolution
292   48.25  Regulating Alcohol around the World: Policy Co...
293   56.87                                               -19%
348   20.13                                                  x
371   36.46                                               -27%
376   24.49                                                 79
377   40.49                                                 99
413   51.48                                               -21%
421   13.75                                                 75
440   16.99                                                 49
474   19.99                                                 69
479   19.89                                                 29
496   18.80                                                 99
532   13.66                                                 66
535   31.50                                               -30%
555    9.59                                                 99
556  139.99                                           $139.99
568   13.99                                                 99
607   39.99                                                 79
611   12.73                                                 99
612   13.79                                            $13.79
629   46.99                                             Python
631    7.95                                                 79
661  101.24                                          PennyLane
666   10.99                                                 99
673   24.33                                         JOSH TYSON
684   11.99                                                  —
688   21.49                                               -39%
698   19.89                                                 59
707   46.99                                               -22%
725   14.19                                                 39
730   41.16                                               -25%
731   14.99                                                 99
732   15.30                                                 30
763  139.56                                                 56
787   11.89                                                 69
796   46.50                                               -22%
819   24.95                                                 25
824    9.69                                                 99
825    5.33                                                 59

At the sight of the results, besides a couple of rows,the rest of the ISBN invalid values are not worth processing. I will just set them as NaN.  
I will process the rows number: 7, 161, 233 and 292

In [57]:
df.loc[[7,161,233,292], ['title', 'ISBN_13', 'comments'] ]

,title,ISBN_13,comments
7,Qualitative Data Analysis: A Methods Sourcebook,Research in Drama Education,NaN
161,Guerrilla Data Analysis Using Microsoft Excel:...,"Second Edition, Second edition",NaN
233,The Data Revolution: A Critical Analysis of Bi...,The Data Revolution,NaN
292,An Introduction to Data Analysis: Quantitative...,Regulating Alcohol around the World: Policy Co...,NaN

In [58]:
rows_to_change = [7,161,292]
df.loc[rows_to_change, ['comments'] ] = df.loc[rows_to_change, ['ISBN_13']].values
df.loc[rows_to_change, ['ISBN_13'] ] = np.nan

In [59]:
df.loc[[7,161,233,292], ['title', 'ISBN_13', 'comments'] ]

,title,ISBN_13,comments
7,Qualitative Data Analysis: A Methods Sourcebook,NaN,Research in Drama Education
161,Guerrilla Data Analysis Using Microsoft Excel:...,NaN,"Second Edition, Second edition"
233,The Data Revolution: A Critical Analysis of Bi...,The Data Revolution,NaN
292,An Introduction to Data Analysis: Quantitative...,NaN,Regulating Alcohol around the World: Policy Co...

In [60]:
df.loc[233,'ISBN_13'] = np.nan

I check again...

In [61]:
df[['price', 'ISBN_13']][df.ISBN_13.isin(invalid_isbn_values)].dropna()

      price                            ISBN_13
31    13.99                            $13.99
61    26.49                               -34%
80   121.99
91    31.30  Usually ships within 2 to 3 days.
121   26.44                             #NAME?
195  113.19                           $113.19
217   46.53                               -22%
293   56.87                               -19%
348   20.13                                  x
371   36.46                               -27%
376   24.49                                 79
377   40.49                                 99
413   51.48                               -21%
421   13.75                                 75
440   16.99                                 49
474   19.99                                 69
479   19.89                                 29
496   18.80                                 99
532   13.66                                 66
535   31.50                               -30%
555    9.59                                 99
556  139.99                           $139.99
568   13.99                                 99
607   39.99                                 79
611   12.73                                 99
612   13.79                            $13.79
629   46.99                             Python
631    7.95                                 79
661  101.24                          PennyLane
666   10.99                                 99
673   24.33                         JOSH TYSON
684   11.99                                  —
688   21.49                               -39%
698   19.89                                 59
707   46.99                               -22%
725   14.19                                 39
730   41.16                               -25%
731   14.99                                 99
732   15.30                                 30
763  139.56                                 56
787   11.89                                 69
796   46.50                               -22%
819   24.95                                 25
824    9.69                                 99
825    5.33                                 59

I will drop the ISBN values and set them to NaN

In [69]:
df.loc[invalid_isbn_rows, 'ISBN_13']

7      NaN
161    NaN
292    NaN
Name: ISBN_13, dtype: object

In [63]:
df[['price', 'ISBN_13']][df.ISBN_13.isin(invalid_isbn_values)].dropna()

      price                            ISBN_13
31    13.99                            $13.99
61    26.49                               -34%
80   121.99
91    31.30  Usually ships within 2 to 3 days.
121   26.44                             #NAME?
195  113.19                           $113.19
217   46.53                               -22%
293   56.87                               -19%
348   20.13                                  x
371   36.46                               -27%
376   24.49                                 79
377   40.49                                 99
413   51.48                               -21%
421   13.75                                 75
440   16.99                                 49
474   19.99                                 69
479   19.89                                 29
496   18.80                                 99
532   13.66                                 66
535   31.50                               -30%
555    9.59                                 99
556  139.99                           $139.99
568   13.99                                 99
607   39.99                                 79
611   12.73                                 99
612   13.79                            $13.79
629   46.99                             Python
631    7.95                                 79
661  101.24                          PennyLane
666   10.99                                 99
673   24.33                         JOSH TYSON
684   11.99                                  —
688   21.49                               -39%
698   19.89                                 59
707   46.99                               -22%
725   14.19                                 39
730   41.16                               -25%
731   14.99                                 99
732   15.30                                 30
763  139.56                                 56
787   11.89                                 69
796   46.50                               -22%
819   24.95                                 25
824    9.69                                 99
825    5.33                                 59

In [64]:
new_order = ['title', 'author', 'publisher', 'publishing_date', 'pages', 'price', 'language', 'ISBN_13', 'complete_link', 'comments']

In [65]:
df = df.reindex(new_order, axis=1)

Finally, get a sample to have an overview of the clean dataset.

In [66]:
df.sample(10)

,title,author,publisher,publishing_date,pages,price,language,ISBN_13,complete_link,comments
788,Data Structures & Algorithms Interview Questio...,NaN,NaN,NaT,NaN,NaN,NaN,NaN,https://www.amazon.com/gp/slredirect/picassoRe...,NaN
460,"Colt's Python, King of the Seven Serpents",Gurney Brown,Blue Book Publications,2018-01-01,304.0,NaN,English,978-1936120994,https://www.amazon.com/Colts-Python-King-Seven...,NaN
621,Scaling Python with Ray: Adventures in Cloud a...,Holden Karau and Boris Lublinsky,"O'Reilly Media, 1st edition",2023-01-03,266.0,59.29,English,978-1098118808,https://www.amazon.com/Scaling-Python-Ray-Adve...,NaN
545,"Python Programming for the Absolute Beginner, ...",Michael Dawson,"Course Technology, 3rd edition",2010-01-01,455.0,40.49,English,NaN,https://www.amazon.com/Python-Programming-Abso...,NaN
461,Mega Python vs. Gatoroid,NaN,NaN,NaT,NaN,9.23,NaN,NaN,https://www.amazon.com/Mega-Python-Gatoroid-De...,NaN
571,53 Must Do Python Projects For All,Edcorner Learning,NaN,NaT,231.0,NaN,English,NaN,https://www.amazon.com/53-Must-Python-Projects...,NaN
209,Pandas for Everyone: Python Data Analysis (Add...,NaN,"Addison-Wesley Professional, 1st edition",2017-12-15,406.0,17.27,English,NaN,https://www.amazon.com/Pandas-Everyone-Analysi...,NaN
2,Guerrilla Data Analysis Using Microsoft Excel:...,Oz du Soleil and Bill Jelen,"Holy Macro! Books, Third edition",2022-08-01,274.0,32.07,English,978-1615470747,https://www.amazon.com/Guerrilla-Analysis-Usin...,NaN
490,Boas and Pythons of the World,"""Mark OShea""",Princeton University Press,2011-04-24,160.0,16.22,English,978-0691150154,https://www.amazon.com/Boas-Pythons-World-Mark...,NaN
723,"Introducing Data Science: Big Data, Machine Le...","Davy Cielen, Arno Meysman, et al.","Manning, 1st edition",2016-05-23,320.0,42.74,English,978-1633430037,https://www.amazon.com/Introducing-Data-Scienc...,NaN