In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('data_science_books.csv')

In [3]:
data.head()

,title,author,price,price (including used books),pages,avg_reviews,n_reviews,star5,star4,star3,star2,star1,dimensions,weight,language,publisher,ISBN_13,link,complete_link
0,Data Analysis Using R (Low Priced Edition): A ...,[ Dr Dhaval Maheta],6.75,6.75,500,4.4,23,55%,39%,6%,NaN,NaN,8.5 x 1.01 x 11 inches,2.53 pounds,English,"Notion Press Media Pvt Ltd (November 22, 2021)",978-1685549596,/Data-Analysis-Using-Low-Priced/dp/1685549594/...,https://www.amazon.com/Data-Analysis-Using-Low...
1,Head First Data Analysis: A learner's guide to...,NaN,33.72,21.49 - 33.72,484,4.3,124,61%,20%,9%,4%,6%,8 x 0.98 x 9.25 inches,1.96 pounds,English,"O'Reilly Media; 1st edition (August 18, 2009)",978-0596153939,/Head-First-Data-Analysis-statistics/dp/059615...,https://www.amazon.com/Head-First-Data-Analysi...
2,Guerrilla Data Analysis Using Microsoft Excel:...,"[ Oz du Soleil, and , Bill Jelen]",32.07,32.07,274,4.7,10,87%,13%,NaN,NaN,NaN,8.25 x 0.6 x 10.75 inches,1.4 pounds,English,"Holy Macro! Books; Third edition (August 1, 2022)",978-1615470747,/Guerrilla-Analysis-Using-Microsoft-Excel/dp/1...,https://www.amazon.com/Guerrilla-Analysis-Usin...
3,Python for Data Analysis: Data Wrangling with ...,[ William McKinney],53.99,53.99,547,4.6,"1,686",75%,16%,5%,2%,2%,7 x 1.11 x 9.19 inches,1.47 pounds,English,"O'Reilly Media; 2nd edition (November 14, 2017)",978-1491957660,/Python-Data-Analysis-Wrangling-IPython/dp/149...,https://www.amazon.com/Python-Data-Analysis-Wr...
4,Excel Data Analysis For Dummies (For Dummies (...,[ Paul McFedries],24.49,24.49,368,3.9,12,52%,17%,10%,10%,10%,7.38 x 0.83 x 9.25 inches,1.3 pounds,English,"For Dummies; 5th edition (February 3, 2022)",978-1119844426,/Excel-Data-Analysis-Dummies-Computer/dp/11198...,https://www.amazon.com/Excel-Data-Analysis-Dum...

In [4]:
data.columns

Index(['title', 'author', 'price', 'price (including used books)', 'pages',
       'avg_reviews', 'n_reviews', 'star5', 'star4', 'star3', 'star2', 'star1',
       'dimensions', 'weight', 'language', 'publisher', 'ISBN_13', 'link',
       'complete_link'],
      dtype='object')

In [5]:
df = data['title, author, price, pages, language, publisher, ISBN_13, complete_link'.split(', ')]

In [6]:
df.columns

Index(['title', 'author', 'price', 'pages', 'language', 'publisher', 'ISBN_13',
       'complete_link'],
      dtype='object')

In [7]:
df.author.isna().count()

830

In [8]:
def clean_author(value):
	if value == value:
		return value.lstrip('[ ').rstrip(']').replace(',  and ,', ' and')
	else:
		return value

In [9]:
df.author = df.author.apply(clean_author)

/tmp/ipykernel_4329/4174911401.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.author = df.author.apply(clean_author)

In [10]:
df.sample(10)

,title,author,price,pages,language,publisher,ISBN_13,complete_link
326,Practical Time Series Analysis: Prediction wit...,Aileen Nielsen,51.99,504,English,"O'Reilly Media; 1st edition (November 5, 2019)",,https://www.amazon.com/Practical-Time-Analysis...
789,Google BigQuery: The Definitive Guide: Data Wa...,Valliappa Lakshmanan and Jordan Tigani,29.99,522,English,"O'Reilly Media; 1st edition (November 19, 2019)",,https://www.amazon.com/Google-BigQuery-Definit...
218,"The Esri Guide to GIS Analysis, Volume 1: Geog...",NaN,31.99,312,English,"Esri Press; Second edition (May 26, 2020)",,https://www.amazon.com/Esri-Guide-GIS-Analysis...
141,Learn Selenium: Build data-driven test framewo...,Unmesh Gundecha and Carl Cocchiaro,49.99,536,English,"Packt Publishing (July 18, 2019)",978-1838983048,https://www.amazon.com/Learn-Selenium-data-dri...
279,The Art of Statistical Thinking: Detect Misinf...,NaN,4.99,178,English,"ARB Publications; 1st edition (October 13, 2022)",NaN,https://www.amazon.com/Art-Statistical-Thinkin...
758,MongoDB Fundamentals: A hands-on guide to usin...,"Amit Phaltankar, Juned Ahsan, et al.",41.99,748,English,"Packt Publishing (December 22, 2020)",978-1839210648,https://www.amazon.com/gp/slredirect/picassoRe...
325,"R for Data Science: Import, Tidy, Transform, V...",Garrett Grolemund and Hadley Wickham,42.49,518,English,"O'Reilly Media; 1st edition (January 31, 2017)",,https://www.amazon.com/Data-Science-Transform-...
143,Recovering Black Storytelling in Qualitative R...,NaN,37.80,192,English,"Routledge; 1st edition (November 19, 2021)",978-0367747336,https://www.amazon.com/Recovering-Storytelling...
464,Practical Python Programming for IoT: Build ad...,Gary Smart,39.99,516,English,"Packt Publishing (November 12, 2020)",,https://www.amazon.com/gp/slredirect/picassoRe...
724,Data Science from Scratch: From Data Visualiza...,"William Gray, Damon Knox, et al.",NaN,NaN,NaN,NaN,NaN,https://www.amazon.com/Data-Science-Scratch-Vi...

There's an error when trying to convert prices to float:  
`ValueError: could not convert string to float: 'Explores all feature...`  
Some values content comments, so I need to clean the price columns first.

In [11]:
#df.pages.astype(float)

I will figure out what's the maximum lenght of the figures in pages column. I will try to convert to float those values of a maximum length. If it raises an error, it means there are values that are strings. In that case, I try using a shorter length for figures.

Length 5 raises an error, but maximum length of pages figure of 4 doesn't.

In [12]:
#df.pages[df.pages.str.len() <=5].astype(float)

In [13]:
df.pages[df.pages.str.len() <=4].astype(float)

0      500.0
1      484.0
2      274.0
3      547.0
4      368.0
       ...
822    165.0
824    280.0
825    208.0
826    573.0
827    288.0
Name: pages, Length: 736, dtype: float64

Now I know that values longer than 4 are comments. Shorter values correspond to pages number, so there won't be a comment (use NaN). With this information I create a column with comments.

In [14]:
df['comments'] = np.where(df.pages.str.len() >= 5, df.pages, np.nan)

/tmp/ipykernel_4329/3878540880.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['comments'] = np.where(df.pages.str.len() >= 5, df.pages, np.nan)

Now let's finally clean the pages column.

In [15]:
df.pages = np.where(df.pages.str.len() <= 4, df.pages, np.nan).astype(float)

/tmp/ipykernel_4329/108972310.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.pages = np.where(df.pages.str.len() <= 4, df.pages, np.nan).astype(float)

In [16]:
df.sample(5)

,title,author,price,pages,language,publisher,ISBN_13,complete_link,comments
520,"Monty Python Speaks, Revised and Updated Editi...",David Morgan and John Oliver,17.99,432.0,English,"Dey Street Books; Revised, Updated edition (Ja...",978-0062866448,https://www.amazon.com/Monty-Python-Speaks-Rev...,NaN
213,"Mastering pandas: A complete guide to pandas, ...",Ashish Kumar,21.09,1004.0,English,"Packt Publishing; 2nd edition (October 25, 2019)",NaN,https://www.amazon.com/Mastering-pandas-comple...,NaN
365,Microsoft Excel Data Analysis and Business Mod...,Wayne Winston,34.87,1168.0,English,"Microsoft Press; 7th edition (December 16, 2021)",978-0137613663,https://www.amazon.com/Microsoft-Analysis-Busi...,NaN
497,Bite-Size Python: An Introduction to Python Pr...,April Speight,23.72,240.0,English,"Wiley; 1st edition (September 1, 2020)",978-1119643814,https://www.amazon.com/Bite-Size-Python-Introd...,NaN
315,Julia for Data Analysis,Bogumil Kaminski,59.99,472.0,English,"Manning (January 10, 2023)",978-1633439368,https://www.amazon.com/Julia-Data-Analysis-Bog...,NaN

Next column to clean will be `language'.

In [17]:
df.language.unique()

array(['English', nan, 'Spanish',
       'Unqualified, Japanese (Dolby Digital 2.0 Mono), English (Dolby Digital 5.1), English (Dolby Digital 2.0 Mono)',
       'you will discover all you need ',
       '• How to make better business decisions using ',
       'Concepts are presented in a "to-the-point" style to cater to the busy individual. With this book, you can learn Python in just one day and start coding immediately. ',
       'standard library',
       'This Python programming guide assumes certain level of programming knowledge. It is not a beginner textbook.',
       'Scroll to the top of the page and click the ',
       'English (Dolby Digital 2.0 Mono)',
       'English (DTS-HD Master Audio 5.1), French (DTS-HD 2.0)',
       '"Brilliant."'], dtype=object)

Some values have `English` or `Spanish` as language values. Some others have languages with other comments. Other values are just comments. This needs a more deep cleaning than previous columns.

`language` values that don't have English, Spanish, Japanese or French, will be considered as comments.

Multiple conditions to check:

In [18]:
contains_english = df.language.str.contains('English')
contains_spanish = df.language.str.contains('Spanish')
contains_japanese = df.language.str.contains('Japanese')
contains_french = df.language.str.contains('French')

Extract all the values that don't contain information about language.

In [19]:
not_language_info = ~(contains_english | contains_spanish | contains_japanese | contains_french | df.language.isnull() )

In [20]:
df.language[not_language_info]

54                       you will discover all you need
290       • How to make better business decisions using
381    Concepts are presented in a "to-the-point" sty...
382                                     standard library
476    This Python programming guide assumes certain ...
492         Scroll to the top of the page and click the
633                                         "Brilliant."
Name: language, dtype: object

I will store the indexes of these rows, which do not contain some language information.

In [21]:
not_lang_indexes = df.language[not_language_info].index

In [22]:
not_lang_indexes

Int64Index([54, 290, 381, 382, 476, 492, 633], dtype='int64')

Now I will create a function to add these comments to the comments column

Check if these rows have already a comment

In [23]:
df.loc[not_lang_indexes].comments

54       NaN
290      NaN
381      NaN
382    1,000
476      NaN
492      NaN
633      NaN
Name: comments, dtype: object

I have just discovered that row 382 had a valid number of pages:  1000 pages. I sent his page number to comments. I will fix this before going further.

In [24]:
df.loc[382, ['pages']] = 1000
df.loc[382, ['comments']] = np.nan

In [25]:
df.iloc[382]

title            Python 3: The Comprehensive Guide to Hands-On ...
author                           Johannes Ernesti and Peter Kaiser
price                                                        55.48
pages                                                       1000.0
language                                          standard library
publisher        Rheinwerk Computing; First edition (September ...
ISBN_13                                             978-1493223022
complete_link    https://www.amazon.com/gp/slredirect/picassoRe...
comments                                                       NaN
Name: 382, dtype: object

In [26]:
df.loc[not_lang_indexes].comments

54     NaN
290    NaN
381    NaN
382    NaN
476    NaN
492    NaN
633    NaN
Name: comments, dtype: object

Their comments values are NaN, so I will replace the with their values in column `language`

In [27]:
df.loc[not_lang_indexes].comments = df.loc[not_lang_indexes].language

Remove the comments from the `language` column:

In [28]:
df.loc[not_lang_indexes, ['language']] = np.nan

Now let's process the rest of the language values.

In [29]:
df.language.unique()

array(['English', nan, 'Spanish',
       'Unqualified, Japanese (Dolby Digital 2.0 Mono), English (Dolby Digital 5.1), English (Dolby Digital 2.0 Mono)',
       'English (Dolby Digital 2.0 Mono)',
       'English (DTS-HD Master Audio 5.1), French (DTS-HD 2.0)'],
      dtype=object)

I will select the

There are only three types of language values which need cleaning, so I will create a function to clean them:

In [30]:
def clean_language(row):
	lang = row.language
	comment = row.comments
	if lang == 'Unqualified, Japanese (Dolby Digital 2.0 Mono), English (Dolby Digital 5.1), English (Dolby Digital 2.0 Mono)' :
		row.language = 'English, Japanese'
		if comment != comment:  #check if comment is NaN
			row.comments = 'Avaliable languages: Japanese (Dolby Digital 2.0 Mono), English (Dolby Digital 5.1), English (Dolby Digital 2.0 Mono)'
		else:
			row.comments += ' Avaliable languages: Japanese (Dolby Digital 2.0 Mono), English (Dolby Digital 5.1), English (Dolby Digital 2.0 Mono)'
	
	elif lang == 'English (Dolby Digital 2.0 Mono)' :
		row.language = 'English'
		if comment != comment:
			row.comments = 'English (Dolby Digital 2.0 Mono)'
		else:
			row.comments += 'English (Dolby Digital 2.0 Mono)'
	
	elif lang == 'English (DTS-HD Master Audio 5.1), French (DTS-HD 2.0)' :
		row.language = 'English, French'
		if comment != comment :
			row.comments = 'English (DTS-HD Master Audio 5.1), French (DTS-HD 2.0)'
		else:
			row.comments += ' English (DTS-HD Master Audio 5.1), French (DTS-HD 2.0)'
	return row

In [31]:
df = df.apply(clean_language, axis=1)

Now the `language` column is clean:

In [32]:
df.language.unique()

array(['English', nan, 'Spanish', 'English, Japanese', 'English, French'],
      dtype=object)

Next step is clean `publisher` column. I want to extract the date of publishing and create a new `publishing_date` column.

In [34]:
df.publisher

0         Notion Press Media Pvt Ltd (November 22, 2021)
1          O'Reilly Media; 1st edition (August 18, 2009)
2      Holy Macro! Books; Third edition (August 1, 2022)
3        O'Reilly Media; 2nd edition (November 14, 2017)
4            For Dummies; 5th edition (February 3, 2022)
                             ...
825            Corwin; First edition (December 15, 2017)
826        Springer; 1st ed. 2020 edition (July 2, 2020)
827                      Packt Publishing (July 8, 2022)
828                                                  NaN
829                                                  NaN
Name: publisher, Length: 830, dtype: object

Create a function to extract the publishing date from the values

In [50]:
def extract_date(value):
	if value == value: 
		splited_value = value.split(' (')
		# date is the 2nd value of the list. 
		# Furthermore, drop the closing parenthesis using [:-1]
		if len(splited_value) == 2:
			publisher = splited_value[0]
			date = splited_value[1][:-1]
			return [publisher, date]
		else:
			return 'invalid data'
	else:
		return np.nan

In [53]:
publish_info = df.publisher.apply(extract_date)

In [57]:
publish_info.sample(5)

667                  [The MIT Press, April 18, 2023]
538    [O'Reilly Media; 1st edition, August 4, 2009]
691           [Wiley; 1st edition, January 27, 2015]
95        [For Dummies; 1st edition, March 20, 2017]
820                                              NaN
Name: publisher, dtype: object

I will check if there are any invalid values, in order to investigate them later.

In [55]:
publish_info [publish_info == 'invalid data']

174    invalid data
374    invalid data
586    invalid data
Name: publisher, dtype: object

They are just three values, so there's no need to create a function. I will extract the date manually.

In [58]:
df.loc[374].publisher

'Real Python (realpython.com); 4th edition (August 30, 2022)'

In [59]:
df.loc[374, ['publisher']] = 'Real Python - realpython.com - 4th edition (August 30, 2022)'

<hr style='color: green'/>

In [60]:
df.loc[586].publisher

'Real Python (realpython.com) (May 5, 2021)'

In [61]:
df.loc[586, ['publisher']] = 'Real Python realpython.com (May 5, 2021)'

<hr style='color: green'/>

In [62]:
df.loc[174, ['publisher']]

publisher    ;
Name: 174, dtype: object

In [63]:
df.loc[174, ['publisher']] = np.nan

Once the three anormal data have been processed, I will apply the `extract_date` function again.

In [64]:
publish_info = df.publisher.apply(extract_date)

I create a new column: `publishing_date` :

In [71]:
df['publishing_date'] = [i[1] if (i==i) else i for i in publish_info  ]

In [74]:
df.publishing_date = pd.to_datetime(df.publishing_date)

Now I replace the `publisher` values with the processed publisher information:

In [75]:
df['publisher'] = [i[0] if (i==i) else i for i in publish_info  ]

In [76]:
df.publisher

0            Notion Press Media Pvt Ltd
1           O'Reilly Media; 1st edition
2      Holy Macro! Books; Third edition
3           O'Reilly Media; 2nd edition
4              For Dummies; 5th edition
                     ...
825               Corwin; First edition
826      Springer; 1st ed. 2020 edition
827                    Packt Publishing
828                                 NaN
829                                 NaN
Name: publisher, Length: 830, dtype: object

In [77]:
df.publisher = df.publisher.str.replace(';', ',')

In [78]:
df.publisher.sample(10)

575       No Starch Press, Illustrated edition
21                 O'Reilly Media, 2nd edition
586                 Real Python realpython.com
154                                   Opentask
44                No Starch Press, 2nd edition
671                                        NaN
678    Cambridge University Press, 1st edition
5                                          NaN
350          Packt Publishing, 2nd ed. edition
69                    For Dummies, 4th edition
Name: publisher, dtype: object

In [80]:
df.sample(5)

,title,author,price,pages,language,publisher,ISBN_13,complete_link,comments,publishing_date
145,Hands-On Data Analysis in R for Finance,Jean-Francois Collard,79.96,414.0,English,"Chapman and Hall/CRC, 1st edition",NaN,https://www.amazon.com/Hands-Data-Analysis-R-F...,NaN,2022-11-16
784,The Handbook of Data Science and AI: Generate ...,"Stefan Papp, Wolfgang Weidinger, et al.",42.49,576.0,English,Hanser Publications,978-1569908860,https://www.amazon.com/Handbook-Data-Science-A...,NaN,2022-04-28
347,Mastering PyTorch: Build powerful neural netwo...,Ashish Ranjan Jha and Dr. Gopinath Pillai,39.99,450.0,English,Packt Publishing,,https://www.amazon.com/gp/slredirect/picassoRe...,NaN,2021-02-12
525,Developing IoT Projects with ESP32: Automate y...,Vedat Ozan Oner,46.99,474.0,English,Packt Publishing,,https://www.amazon.com/gp/slredirect/picassoRe...,NaN,2021-09-13
446,100 Days of Code Learning Journal: Notebook fo...,Corinth Ruiz,7.00,108.0,English,Independently published,979-8775112295,https://www.amazon.com/100-Days-Code-Learning-...,NaN,2021-11-28

Reorder the columns:

It seems like some `ISBN_13` values are empty but not set as NaN. Aslo, lenght of ISBN_13 code must be 14 (13 + hyphen).

In [89]:
df.ISBN_13 [ df.ISBN_13.str.len() != 14]

5                              NaN
7      Research in Drama Education
12                             NaN
13
14
                  ...
824                             99
825                             59
826
828                            NaN
829
Name: ISBN_13, Length: 369, dtype: object

In [90]:
df.ISBN_13 [ df.ISBN_13.str.len() != 14].unique()

array([nan, 'Research in Drama Education', ' ', '$13.99 ', '-34%',
       '     ', 'Usually ships within 2 to 3 days.', '#NAME?', '#250 in ',
       '#1 in ', '  Second Edition, Second edition ', '$113.19 ', '-22%',
       'The Data Revolution',
       'Regulating Alcohol around the World: Policy Cocktails', '-19%',
       '#35 in ', 'x', '-27%', '79', '99', '-21%', '75', '49', '69', '29',
       '66', '-30%', '  Kindle Edition ', '$139.99 ', '$13.79 ', 'Python',
       '#372 in ', 'PennyLane', 'JOSH TYSON', '—', '-39%', '59', '39',
       '-25%', '30', '56', '25'], dtype=object)

First set empty values to NaN

In [93]:
df.ISBN_13 = np.where(df.ISBN_13 == '', np.nan, df.ISBN_13)

Check if row with invalid ISBN_13 values have already comments:

In [100]:
df[ (df.ISBN_13.str.len() != 14) & (df.ISBN_13.notnull()) ].comments.isnull().all()

False

It looks as if some rows with invalid ISBN_13 values have been already commented.

In [109]:
invalid_isbn_with_comments = df[ (df.ISBN_13.str.len() != 14) & (df.ISBN_13.notnull()) ].comments.notnull()

In [111]:
df.loc[invalid_isbn_with_comments.index].comments

7      NaN
13     NaN
14     NaN
19     NaN
31     NaN
      ...
820    NaN
824    NaN
825    NaN
826    NaN
829    NaN
Name: comments, Length: 204, dtype: object

In [81]:
new_order = ['title', 'author', 'publisher', 'publishing_date', 'pages', 'price', 'language', 'ISBN_13', 'complete_link', 'comments']

In [84]:
df = df.reindex(new_order, axis=1)

Finally, get a sample to have an overview of the clean dataset.

In [85]:
df.sample(10)

,title,author,publisher,publishing_date,pages,price,language,ISBN_13,complete_link,comments
341,Introduction to Multivariate Data Analysis (Ea...,NaN,anushabooks.com,2022-06-22,67.0,NaN,English,NaN,https://www.amazon.com/Introduction-Multivaria...,NaN
343,"Python for Geospatial Data Analysis: Theory, T...",Bonny McClain,"O'Reilly Media, 1st edition",2022-11-29,279.0,59.05,English,978-1098104795,https://www.amazon.com/Python-Geospatial-Data-...,NaN
278,The Decision Maker's Handbook to Data Science:...,Stylianos Kampakis,"Apress, 2nd ed. edition",2019-11-27,164.0,18.04,English,978-1484254936,https://www.amazon.com/Decision-Makers-Handboo...,NaN
705,The Little Book of Data Science Tricks: 100+ T...,Maverick Lin,Independently published,2020-06-20,59.0,4.99,English,979-8655659063,https://www.amazon.com/Little-Book-Data-Scienc...,NaN
642,Practical Data Science with Python: Learn tool...,Nathan George,Packt Publishing,2021-09-30,620.0,51.99,English,978-1801071970,https://www.amazon.com/Practical-Data-Science-...,NaN
574,Real-World Python: A Hacker's Guide to Solving...,Lee Vaughan,No Starch Press,2020-11-05,360.0,34.95,English,,https://www.amazon.com/Real-World-Python-Hacke...,NaN
21,Think Bayes: Bayesian Statistics in Python (O'...,Allen B. Downey,"O'Reilly Media, 2nd edition",2021-06-08,338.0,24.20,English,978-1492089469,https://www.amazon.com/Think-Bayes-Bayesian-St...,NaN
770,Computer Science Unleashed: Harness the Power ...,NaN,Code Energy,2021-07-02,270.0,19.95,English,NaN,https://www.amazon.com/Computer-Science-Unleas...,NaN
219,Data Visualization: A Practical Introduction,Kieran Healy,"Princeton University Press, 1st edition",2018-12-18,296.0,42.00,English,,https://www.amazon.com/Data-Visualization-Intr...,NaN
781,Data Science in Chemistry (De Gruyter Textbook),Thorsten Gressling,De Gruyter,2020-11-23,330.0,52.64,English,978-3110629392,https://www.amazon.com/Data-Science-Chemistry-...,NaN